@import "../../sass/variables";
@import "../../sass/mixins";

.projects-section {
  padding-block: 10rem;
  color: $fancy-black-color-medium;
  h2 {
    margin-bottom: 2rem;
  }
}
.projects-section__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: $gap-size-3;
}
.projects-section__items {
  max-width: 31.25rem;
  @include flex-4;
  gap: $gap-size-1;
  justify-self: center;
  position: relative;
  box-shadow: 0 1.5rem 3rem rgb(0 0 0 / 8%);
  transition: all 0.3s;
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }
}
.projects-section__content {
  padding: 0.7rem 1rem;
  @include flex-4;
  gap: $gap-size-1;
}
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
