//Font-size
$fs-700: 3.25rem;
$fs-500: 1.625rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.813rem;

//Font-weight
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

//Line-height
$lh-normal: 1.5;

//Padding
$pd-block: 10rem;

//Gap
$gap-size: 0.3rem;
$gap-size-1: 1rem;
$gap-size-2: 2rem;
$gap-size-3: 5rem;

//Colors
$fancy-black-color: #1a1a1d;
$fancy-red-color: #c3073f;
$fancy-black-color-medium: #424243;
$fancy-grey-color: #f0f3f4;
$white: #fff;
