@import "../../sass/variables";
@import "../../sass/mixins";

.projects-section__skills {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  gap: 0.3rem;
  border-radius: 2px;
}
.projects-section__skills-img {
  width: 12%;
}
