@import "../../sass/variables";
@import "../../sass/mixins";

.courses {
  color: $fancy-black-color-medium;
}
.courses-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
