@import "../../sass/variables";
@import "../../sass/mixins";

.hero {
  padding-block: 10rem;
  margin-top: 5rem;
  @include flex-1;
  color: $fancy-black-color;
  background-color: #f5f5f5;

  @media only screen and (max-width: 480px) {
    padding-top: 10rem;
  }
  @media only screen and (max-width: 375px) {
    padding-top: 4rem;
  }
}
.hero__content {
  @include flex;
  position: relative;
}
.hero__content::before {
  position: absolute;
  content: "";
  border-top: 6px solid $fancy-red-color;
  width: 46%;
}
.hero__content::after {
  position: absolute;
  content: "";
  width: 46%;
  border-bottom: 6px solid $fancy-red-color;
  padding-bottom: 1rem;
  right: 0;
  bottom: 0;
}
.hero__content-text {
  flex: 0 0 50%;
  @include flex-3;
  gap: 2rem;
}
.hero__content-text--title {
  margin-top: 1.7rem;
  font-size: $fs-700;
  line-height: 1.1;
  max-width: 30rem;

  @media only screen and (max-width: 820px) {
    font-size: clamp(2rem, calc(3rem + 1vw), 3rem);
  }
  @media only screen and (max-width: 480px) {
    font-size: clamp(2rem, calc(3rem + 1vw), 2rem);
    margin-top: 1.7rem;
  }
}
.hero__content-img {
  flex: 1;
}
.hero__content-text--name {
  color: $fancy-red-color;
}
.hero-btn {
  border: none;
  font-weight: $fw-500;
  max-width: fit-content;
  padding: 0.6rem 0.9rem;
}
@media only screen and (max-width: 904px) {
  .hero__content {
    flex-direction: column;
  }
}
